#map { height:  400px; 
    width: 100%; 
    align-items: center;}

#map2 { height:  400px; 
    width: 100%; 
    align-items: center;}

body {margin: 25px;
    text-align: center;
}

.legend-control-container{  
    width: 120px;  
    height: 140px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 1px;  
    line-height: 10px;  
    text-align: center;  
    border: solid gray 1px;  
}  
